body {
    background-color: ghostwhite;
    padding-top: 70px; bij fixed nav-bar
}

li {
    list-style-type: none;
    display:inline;
}

.navbar-brand{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: -10px;
}

#logo {
    height: 120px;
    width: auto;
    position: relative;
    padding-bottom: 25px;
    margin-top: -20px;
}

.slider-nav {
    text-align: center;
    margin-top: 20px;
}

.arrow-prev {
    margin-right: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    color: lightsteelblue;
}

.arrow-next {
    margin-left: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    color: lightsteelblue;
}

.slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}

.slider-dots li {
    color: lightsteelblue;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
}

.slider-dots li.active-dot {
    color: midnightblue;
}

#arrows {
    margin: 10px 15px 10px 15px;
}

#map-canvas {height:300px; margin: 0; padding: 0;}

#map-canvas.fullscreen {
    position: fixed;
    width:100%;
    height: 100%;
}

.jumbotron {
    background-image:url('http://goo.gl/SMXLQE');
    /*background-image: url("../foto/Logo.png");*/
    background-position: left;
    background-size: 100%;
    background-color: gray;
    width: auto;
    height: 150px;
    margin-bottom: 10px;
}
.jumbotron h1 {
    margin-top: 0px;
    color:lightgray;
}
.jumbotron p{
    color:#dcdcdc;
}
#tripinfo{
    background-color: lightgray;
    /*position: relative;*/
    padding: 2px;
}

#map {
    background-color: lightgray;
    position: relative;
    padding: 0px 2px 0px 2px;
}

#control_div{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dcdcdc !important;
}

img {
    width: 100%;
    height: 100%;
}