body {
    background-color: ghostwhite;
    padding-top: 70px;
}

li {
    list-style-type: none;
    display:inline;
}

#map-canvas { height: 250px; margin: 0; padding: 0;}

.jumbotron {
    background-image:url('http://goo.gl/SMXLQE');
    background-position: left;
    background-size: 100%;
    background-color: gray;
    width: auto;
    height: 150px;
    margin-bottom: 10px;
}
.jumbotron h1 {
    margin-top: 0px;
    color:lightgray;
}
.jumbotron p{
    color:#dcdcdc;
}
.charts {
    background-color: lightgray;
    position: relative;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.map {
    background-color: lightgray;
    position: relative;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#control_div{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dcdcdc !important;
}

img {
    width: 100px;
    height: 100px;
}