body {
    background-color: ghostwhite;
    padding-top: 70px;
}

.navbar-brand{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: -10px;
}

#logo {
    height: 70px;
    width: auto;
    padding-bottom: 15px;
    margin-top: -15px;
}

#map-canvas { height: 250px; margin: 0; padding: 0;}

#navigation li {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: bold;
    padding: 25px 15px;
    text-transform: uppercase;
    display : inline;
    list-style-type: none;
}

#navigation ul {
    padding: 10px 0px;
    margin-bottom: 0px;
    display:inline;
}

.jumbotron {
    background-image:url('http://goo.gl/SMXLQE');
    background-position: left;
    background-size: 100%;
    background-repeat: no-repeat;
    width: auto;
    height: 250px !important;
    margin-bottom: 10px;
}
.jumbotron h1 {
    margin-top: 0px;
    color:lightgray;
}
.jumbotron p{
    color:#dcdcdc;
}
.charts {
    background-color: lightgray;
    position: relative;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#buttons{
    margin-left: auto;
    margin-right: auto;
}
#control_div{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dcdcdc !important;
}

img {
    width: 500px;
    height: auto;
}
table, th, td {
  border: 1px #808080;
  border-collapse: collapse;
}
th,td {
    padding: 15px;
}
th {
    text-align: left;
} 
table {
    border-spacing: 5px;
}
#balk_onderaan {
    text-align: center;
    font-style: italic;
    font-size: 15px;
    padding: 5px;
    border-spacing: 50px;
}

h2 {
    text-align: center;
}
p {
    text-align: center;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#black_line {
    background-color: black;
    width: 100%;
}
.lijn_onderaan {
    border-top-style: solid;
}
#login_form {
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    font-size: 18px;
}

#f1 {
    background-color: #ccc;
    border-style: solid;
    border-width: 1px;
}
.f1_label {
    white-space: nowrap;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#welcome {
    text-align: center;
    font-size: 300%;
}
#welcome2 {
    text-align: center;
    font-size: 150%;
}
#welcome3 {
    text-align: center;
    font-size: 130%;
}