body {
    background-color: ghostwhite;
    padding-top: 65px; /*bij fixed nav-bar*/
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
    display:inline;
}

table, th, td {
    border: 5px #808080;
}

th,td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}

/*.row .row {*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
/*}*/

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#searchgroup{
    margin: 8px 0 8px 0;
}

.navbar-brand{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: -10px;
}

#logo {
    height: 70px;
    width: auto;
    padding-bottom: 15px;
    margin-top: -15px;
}

.jumbotron {
    /*background-image:url('http://goo.gl/SMXLQE');*/
    background-image: url("../foto/city.jpg");
    background-position: left;
    background-size: 100%;
    background-color: gray;
    width: auto;
    height: 150px;
    margin-bottom: 0;
}

.jumbotron h1 {
    margin-top: 0px;
    color:lightgray;
}

.jumbotron p{
    color:#dcdcdc;
}

.btn-link:hover,
.btn-link:focus {
    text-decoration: none!important;
}

.filter{
    padding-left: 15px;
}
.filter2{
    padding-left: 5px;
}

#dateinfo p{
    display: inline;
    margin-left: 15px;
}

#tripinfo h3{
    margin-left: 15px;
    margin-right: 15px;
    color: #428bca;
    opacity: 0.75;
    border-bottom: 2px solid ;
    margin-bottom: 2px;
}

.slider-nav {
    text-align: center;
    /*margin-top: 20px;*/
}

/*#arrows {*/
    /*margin: 10px 15px 10px 15px;*/
/*}*/

#arrow-prev {
    margin-right: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    color: lightsteelblue;
}

#arrow-next {
    margin-left: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    color: lightsteelblue;
}

#slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}

#slider-dots li {
    color: lightsteelblue;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
}

#slider-dots li.active-dot {
    color: midnightblue;
}

#tripinfo{
    background-color: lightgray;
    /*position: relative;*/
    padding: 2px;
}

.numinfo{
    text-align: center;
}

#right-column {
    background-color: lightgray;
    position: relative;
    padding: 0 2px 0 2px;
}

#map-canvas {
    min-height:320px;
    margin: 0;
    padding: 0;
}

#map-canvas.fullscreen {
    position: fixed;
    width:100%;
    height: 100%;
}

#timelapse{
    padding: 0 2px 0 2px;
}

.Outer{
    /*position: absolute;*/
}

#control_div{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dcdcdc !important;
}

.thumbp{
    position:relative;
}



.thumbimg{
    max-height: 32px;
}
/*#balk_onderaan {*/
    /*margin-top: 10px;*/
    /*text-align: center;*/
    /*font-style: italic;*/
    /*font-size: 15px;*/
    /*padding: 5px;*/
    /*border-spacing: 50px;*/
/*}*/

.groupform{
    vertical-align: bottom!important;
}

div#footer{
    margin-top: 10px;
}

.lijn_onderaan {
    border-top-style: solid;
    border-top-width: 1px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.2);
}

#left-column{
    padding: 0 2px 0 2px !important;
}

